.blog-page {
    &__add {
        display: flex;
        justify-content: flex-end;

        > .ui.button {
            margin: 0;
        }
    }
    .ui.secondary.menu {
        min-height: 0;
    }
}
