.users-page {
    &__add{
        position: absolute;
        right: 0;
        top: 0;
        background-color: #1890ff !important;
        color: #fff !important;

        > .ui.button {
            margin: 0;
        }
    }
}