$primary: #1890ff;
$primary-hover: #0280b3;

//Text
$text-light: #fff;

// Background
$background-dark: #06197a ;
$background-grey: #f0f3f4;
$background-dark-web: #16212b;

// Border
$border-grey: #d0d0d0;

// Status
$success: #84b84c;
$error: #cd201f;

// Social Color
$youtube: #cd201f;
$twitter: #1da1f2;
$facebook: #3b5998;
$linkedin: #0077b5;