@import '../../../../scss/index.scss';

.ui.menu.admin-menu {
    > .item {
        display: flex;
        color:$text-light;
        padding: 15px 20px !important;
        margin: 0 !important;
        border-radius: 0 !important;

    &:hover,
    &.active,
    &.active:hover {
        background-color: $primary;
    }

    > i {
        margin: 0 !important;
        margin-right: 10px !important;
    }
    }
}